<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Jee</display-name>
 	<servlet>
   		<servlet-name>Login</servlet-name>
    	<servlet-class>com.sdzee.servlets.Login</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	 <servlet>
   		<servlet-name>Logout</servlet-name>
    	<servlet-class>com.sdzee.servlets.Logout</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Logout</servlet-name>
	    <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>LoggedIn</servlet-name>
    	<servlet-class>com.sdzee.servlets.LoggedIn</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LoggedIn</servlet-name>
	    <url-pattern>/loggedin</url-pattern>
	</servlet-mapping>
	
	<servlet>
   		<servlet-name>Delete</servlet-name>
    	<servlet-class>com.sdzee.servlets.Delete</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Delete</servlet-name>
	    <url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<error-page>
	    <error-code>404</error-code>
	    <location>/error</location>
	</error-page>
	
	<env-entry>
	    <env-entry-name>BDD-HOST</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	    <env-entry-value>localhost</env-entry-value>
	</env-entry>
	
	<env-entry>
	    <env-entry-name>BDD-PORT</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	    <env-entry-value>1234</env-entry-value>
	</env-entry>
	
	<env-entry>
	    <env-entry-name>BDD-NAME</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	    <env-entry-value>javabase</env-entry-value>
	</env-entry>
	
	<env-entry>
	    <env-entry-name>BDD-USER</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	    <env-entry-value>root</env-entry-value>
	</env-entry>
	
	<env-entry>
	    <env-entry-name>BDD-PWD</env-entry-name>
	    <env-entry-type>java.lang.String</env-entry-type>
	    <env-entry-value>secret</env-entry-value>
	</env-entry>
</web-app>